<div class="row">
    <div class="col-lg-12">
        <fieldset>
            <div class="legend form-block left">
                Table customization
            </div>
            <label>Show columns</label>
            <div class="row">
                <div class="col-lg-2">
                    <label class="c8y-checkbox">
                        <input type="checkbox" [(ngModel)]="widgetConfig.table.showColumns.ticketId" (change)="updateConfig()" />
                        <span></span>
                        <span>Ticket id</span>
                    </label>
                </div>
                <div class="col-lg-2">
                    <label class="c8y-checkbox">
                        <input type="checkbox" [(ngModel)]="widgetConfig.table.showColumns.subject" (change)="updateConfig()" />
                        <span></span>
                        <span>Subject</span>
                    </label>
                </div>
                <div class="col-lg-2">
                    <label class="c8y-checkbox">
                        <input type="checkbox" [(ngModel)]="widgetConfig.table.showColumns.description" (change)="updateConfig()" />
                        <span></span>
                        <span>Description</span>
                    </label>
                </div>
                <div class="col-lg-2">
                    <label class="c8y-checkbox">
                        <input type="checkbox" [(ngModel)]="widgetConfig.table.showColumns.creationDate" (change)="updateConfig()" />
                        <span></span>
                        <span>Creation date</span>
                    </label>
                </div>
                <div class="col-lg-3">
                    <label class="c8y-checkbox">
                        <input type="checkbox" [(ngModel)]="widgetConfig.table.showColumns.lastUpdateDate" (change)="updateConfig()" />
                        <span></span>
                        <span>Last update date</span>
                    </label>
                </div>
                <div class="col-lg-2">
                    <label class="c8y-checkbox">
                        <input type="checkbox" [(ngModel)]="widgetConfig.table.showColumns.status" (change)="updateConfig()" />
                        <span></span>
                        <span>Status</span>
                    </label>
                </div>
                <div class="col-lg-2">
                    <label class="c8y-checkbox">
                        <input type="checkbox" [(ngModel)]="widgetConfig.table.showColumns.priority" (change)="updateConfig()" />
                        <span></span>
                        <span>Priority</span>
                    </label>
                </div>
                <div class="col-lg-2">
                    <label class="c8y-checkbox">
                        <input type="checkbox" [(ngModel)]="widgetConfig.table.showColumns.alarmId" (change)="updateConfig()" />
                        <span></span>
                        <span>Alarm id</span>
                    </label>
                </div>
                <div class="col-lg-2">
                    <label class="c8y-checkbox">
                        <input type="checkbox" [(ngModel)]="widgetConfig.table.showColumns.deviceId" (change)="updateConfig()" />
                        <span></span>
                        <span>Device id</span>
                    </label>
                </div>
                <div class="col-lg-2">
                    <label class="c8y-checkbox">
                        <input type="checkbox" [(ngModel)]="widgetConfig.table.showColumns.comments" (change)="updateConfig()" />
                        <span></span>
                        <span>Comments</span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Page size</label>
                        <input type="number" class="form-control" [(ngModel)]="widgetConfig.table.pageSize" (change)="updateConfig()" />
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <fieldset>
            <div class="legend form-block left">
                Chart customization
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="c8y-checkbox">
                            <input type="checkbox" [(ngModel)]="widgetConfig.chart.show" (change)="updateConfig()" />
                            <span></span>
                            <span>Show charts</span>
                        </label>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="widgetConfig.chart.show">
                <div class="row">
                    <div class="col-lg-2" *ngFor="let chart of widgetConfig.chart.colors; let i=index; trackBy: trackByFn">
                        <div class="form-group">
                            <label>Chart color #{{i+1}}</label>
                            <input type="color" class="form-control" [(ngModel)]="widgetConfig.chart.colors[i]" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-default" (click)="addChartColor()">Add color</button>
                        <button class="btn btn-default" (click)="removeChartColor()">Remove color</button>
                    </div>
                </div>
            </ng-container>
        </fieldset>
    </div>
</div>